
.color{
  font-family: 'Arial', cursive;
  color : Turquoise;
  font-size: 40px;
  position: absolute;
  top: 1000px;
  left: 100px;
}

.comment{
  width: 300px;
  height: 100px;
  border: 5px solid #1C6EA4;
  border-radius: 20px;
}
li{
  list-style: none
}
.h3{
  font-family: 'Arial', cursive;
  color : Turquoise;
  text-align: center;
}

.submit{
  width: 100px;
  height: 50px;
}
